.container .card {
    max-width: 550px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
}

.container .card .row {
    padding: 10px;
}

.card-error {
    background-color: rgba(255, 0, 0, 0.62)!important;
    padding: 5px;
    margin-top: 1rem!important;
}

.card-error p {
    margin: 10px 0px;
}


.card-register {
    margin-top: 1rem!important;
}