nav ul {
    padding: 16px 10px;
    margin: 0px;
    background-color: #ffffff;
}

nav ul li {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    padding: 0px 5px;
    border-right: 1px solid black;
}
nav ul li i {
    padding-right: 2px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li:nth-child(even) {
    border-right: none;
}

nav .container-right {
    float: right;
    display: inline-block;
}

@media all and (max-width: 450px) {
    nav ul {
        padding: 0px;
    }
    nav ul li {
        display: block;
        text-align: center;
        padding: 5px 5px;
        border-bottom: 1px solid black;
        border-right: none;
    }
    nav .container-right {
        float: none;
        width: 100%;
    }
}